<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
    <title>mention.tech</title>
{% endblock %}
<link rel="shortcut icon" href="/static/logo.jpg" />
<meta name="mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/static/logo.jpg" />
<link href="/static/style.css" media="all" rel="stylesheet" type="text/css" />
<link rel="webmention" href="http://mention-tech.appspot.com/webmention" />
<script>var loc = window.location.href; 
if (loc.includes('genius.it')) {
    offset = loc.indexOf('genius.it');
    newloc = loc.slice(0,offset)+ loc.slice(offset+'genius.it/'.length);
    window.location.replace(newloc);
    }
</script>
</head>  
<body >
<nav><img class="u-logo" src="/static/logo.jpg" /><a href="/" >Home</a></nav>
{% block content %}
{% endblock %}
<footer >A webmention experiment by <a class="h-card" href="http://kevinmarks.com">Kevin Marks</a> code at <a href="https://github.com/kevinmarks/mentiontech">github</a> <a rel="me" href="https://twitter.com/mention_tech/">@mention_tech</a></footer>
</body>
{% endautoescape %}
</html>
