<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
    <title>mention.tech</title>
{% endblock %}
<link rel="shortcut icon" href="/static/logo.jpg" />
<meta name="mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/static/logo.jpg" />
<link href="/static/style.css" media="all" rel="stylesheet" type="text/css" />
<link rel="webmention" href="http://mention-tech.appspot.com/webmention" />
</head>  
<body >
<nav><a href="/" >Home</a></nav>
{% block content %}
{% endblock %}
<footer>A webmention experiment by <a rel="me" href="http://kevinmarks.com">Kevin Marks</a> code at <a rel="me" href="https://github.com/kevinmarks/mentiontech">github</a></footer>
</body>
{% endautoescape %}
</html>
