{% extends "generic.html" %}
{% block content %}
<div class="h-entry">
<h2 class="p-name">Test page for pinging webmention.rocks from</h2>
<ul class="e-content">
<li><a href="https://webmention.rocks/test/1">Test 1</a>
<li><a href="https://webmention.rocks/test/2">Test 2</a>
<li><a href="https://webmention.rocks/test/3">Test 3</a>
<li><a href="https://webmention.rocks/test/4">Test 4</a>
<li><a href="https://webmention.rocks/test/5">Test 5</a>
<li><a href="https://webmention.rocks/test/6">Test 6</a>
<li><a href="https://webmention.rocks/test/7">Test 7</a>
<li><a href="https://webmention.rocks/test/8">Test 8</a>
<li><a href="https://webmention.rocks/test/9">Test 9</a>
<li><a href="https://webmention.rocks/test/10">Test 10</a>
<li><a href="https://webmention.rocks/test/11">Test 11</a>
<li><a href="https://webmention.rocks/test/12">Test 12</a>
<li><a href="https://webmention.rocks/test/13">Test 13</a>
<li><a href="https://webmention.rocks/test/14">Test 14</a>
<li><a href="https://webmention.rocks/test/15">Test 15</a>
<li><a href="https://webmention.rocks/test/16">Test 16</a>
<li><a href="https://webmention.rocks/test/17">Test 17</a>
<li><a href="https://webmention.rocks/test/18">Test 18</a>
<li><a href="https://webmention.rocks/test/19">Test 19</a>
<li><a href="https://webmention.rocks/test/20">Test 20</a>
</ul>
<a href="#" class="u-url"><time class="dt-published">2016-04-11</time></a>
<div class="p-author h-card"><a href="/" class="p-org p-name"><img class="u-logo" src="/static/logo.jpg" alt="" />mention.tech</a></div>
</div>
{% endblock %}