{% extends "generic.html" %}
{% block content %}
Test page for pinging webmention.rocks from
<ul>
<li><a href="https://webmention.rocks/test/1">Test 1</a>
<li><a href="https://webmention.rocks/test/2">Test 2</a>
<li><a href="https://webmention.rocks/test/3">Test 3</a>
<li><a href="https://webmention.rocks/test/4">Test 4</a>
<li><a href="https://webmention.rocks/test/5">Test 5</a>
<li><a href="https://webmention.rocks/test/6">Test 6</a>
<li><a href="https://webmention.rocks/test/7">Test 7</a>
<li><a href="https://webmention.rocks/test/8">Test 8</a>
</ul>
{% endblock %}